@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Share+Tech+Mono&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scrollbar-gutter: stable;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: Electrolize, sans-serif;
}

.mono {
    font-family: "Share Tech Mono", monospace;
}

@keyframes breathe {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 60%;
    }

    100% {
        opacity: 100%;
    }
}

.sliding-underline {
    position: relative;
}

.sliding-underline:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: #27756d;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

.sliding-underline:hover:after {
    width: 100%;
    left: 0;
    background: #27756d;
}
