@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next&family=Geo&family=Share+Tech+Mono&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scrollbar-gutter: stable;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
.geo {
    font-family: Geo, sans-serif;
    font-size: 105%;
}

a {
    color: transparent;
    background: linear-gradient(to bottom right, #c765ab 20%, #65abc7 80%);
    background-clip: text;
}

.mono {
    font-family: "Share Tech Mono", monospace;
}

@keyframes breathe {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 60%;
    }

    100% {
        opacity: 100%;
    }
}

a:not(.btn) {
    position: relative;
}

a:not(.btn):after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: #27756d;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

a:not(.btn):hover:after {
    width: 100%;
    left: 0;
    background: #27756d;
}
